$layout-breakpoint-small: 960px;

#contact {
  background-color: #111111;
  padding: 1rem 0 3rem 0;
  margin: 3px 0 0 3px;

  .tag {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    
    .text {
      padding: 2rem;
      font-size: 1.4rem;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 4rem;

      ul {
        display: flex;
        gap: 1rem;
        list-style: none;
      }
    }
  }

  @media (min-width: $layout-breakpoint-small) {
    .wrapper {
      width: 90%;
      margin: 0 auto;
      background-color: black;
      display: flex;
      flex-direction: row;
      gap: 2rem;
      
      .text {
        width: 50%;
  
        ul {
          display: flex;
          gap: 1rem;
          list-style: none;
        }
      }

      .form-wrapper {
        width: 50%;

        .box {
          top: 2rem;
          left: -1rem;
          transform: rotate(45deg);
        }
      }
    }
  }
}