#contact {
  background-color: #111111;
  padding: 1rem 0 3rem 0;
  margin: 3px 0 0 3px;

  .tag {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    background-color: black;
    
    .text {
      width: 50%;
      padding: 2rem;
      font-size: 1.4rem;
      text-align: justify;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ul {
        display: flex;
        gap: 1rem;
        list-style: none;
      }
    }
  }
}