#experience {
  background-color: #111111;
  padding: 10px 0.5rem 60px 0.5rem;
  margin: 1px 0 0 1px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tag {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin: 0.5rem 0 1rem 0;
  }

  .experience-wrapper {
    width: 90%;
    margin: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    
    .card-container {
      position: relative;
      display: flex;

      .card-wrapper, .card-wrapper2 {
        position: relative;
        display: flex;
        transform: translate(1rem,2rem);
      
        .node, .node2 {
          position: absolute;
          top: -1.6rem;
          left: -1.25rem;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background-color: aqua;
        }
      
        .date, .date2 {
          position: absolute;
          top: -1.8rem;
        }
      
        .card, .card2 {
          width: 95%;
          border: 1px solid aqua;
          border-radius: 4px;
          padding: 10px;
      
          .title {
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: 1px;
            
          }
      
          .status {
            font-size: 0.9rem;
          }
      
          hr {
            margin: 4px 0;
            border-color: aqua;
          }
      
          .describe {
            text-align: justify;
          }
        }
      }
    }
    
    .line, .line2 {
      width: 2px;
      height: 100%;
      position: absolute;
      left: 0;
      background-color: white;
    }
    .line2 {
      width: 2px;
      left: 0;
      bottom: -3rem;
    }
  }

  @media (min-width: 1024px) {
    .experience-wrapper {

      .card-container {

        .card-wrapper, .card-wrapper2 {
          width: 100%;
          margin: 0 auto;
          transform: translate(0, 2rem);

          .node, .node2 {
            left: calc(50% - 4px);
            top: 0.5rem;
          }

          .date {
            top: 4px;
            right: 35%
          }

          .card {
            width: 35%;
            transform: translate(30%);
          }

          .card2 {
            width: 35%;
            transform: translate(-30%);
          }

          .date2 {
            top: 4px;
            left: 35%;
          }
        }

        .card-wrapper2 {
          justify-content: end;
        }
      }

      .line, .line2 {
        left: 50%;
      }
    }
  }
}

@media (min-width: 1024px) {
  #experience {
    margin: 3px 0 0 3px;
  }
}