#experience {
  height: 100vh;
  background-color: #111111;
  padding: 10px 10px;
  margin: 3px 0 0 3px;

  .tag {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
  }

  .experience-wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
    height: 200px;
    width: 100%;

    .line {
      width: 2px;
      height: 100%;
      position: absolute;
      left: 50%;
      background-color: white;
    }
  }
}