@font-face {
  font-family: 'Rajdhani', sans-serif;
  src: url();
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani';
  font-weight: 500;
  color: rgba(255, 255, 255, 0.863);
}

body {
  background-color: #111111;
  overflow-x: hidden;
}

.wrapper {
  width: 95%;
  margin: auto;
  background-color: white;
}